@import '../../styles/variables';

    .header {
        width: 100%;
        background-color: $primary-color;
        color: $secondary-color;
        padding: $padding-medium 0;
        text-align: center; // Default alignment for mobile
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .header-content {
        width: 90%; // Optional: Add width for better control
        margin: 0 auto; // Center content by default
    }

    .header-content h1 {
        margin: 0;
        font-size: $font-size-large;
        font-family: $font-primary;
        font-weight: bold;
    }

    @media (min-width: 768px) {
        .header-content {
            text-align: left; // Align text to the left
            padding-left: $padding-medium; // Add spacing from the left edge
        }
    }