@import '../../styles/variables';

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $primary-color;
    color: $secondary-color;
    text-align: center;
    padding: $padding-small 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer-content {
    font-family: $font-primary;
    font-size: $font-size-small;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; // Reduced gap for tighter spacing
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $padding-small;
}

.social-links a {
    color: $secondary-color;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: $font-size-medium;
}

.social-links a:hover {
    color: $accent-color;
}

@media (max-width: 768px) {
    .social-links a {
        font-size: $font-size-small;
    }
}

@media (max-width: 480px) {
    .social-links {
        gap: $padding-small;
    }
    .social-links a {
        font-size: 0.9rem;
    }
}